*.env
*.DS_Store
*.ipynb
Backend/Notebooks/
*__pycache__/
.NLP_Project
*final_mental_emotion_model/
*kg.py
*.pkl
*.vscode
*model_objs/
lang_detector_test.py
*results/
dump.rdb
todotmw.txt
intent_classifier/
summarizer/
translator/

feedback_logs.csv

logs/